* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: #fffaf5;
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* common */
input,
select,
textarea,
button {
    font-size: inherit;
    font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.break-all {
    word-break: break-all;
}

:root {
    --primary-color: #000958;
    --primary-color-2: #ff5b2e;
}

.btn {
    --height: 56px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 130px;
    height: var(--height);
    line-height: var(--height);
    border-radius: 99px;
    border: 1px solid rgba(0, 9, 88, 0.7);
    color: var(--primary-color);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
}

.btn:hover {
    opacity: 0.7;
    cursor: pointer;
}

.btn-primary {
    color: #fff !important;
    background: var(--primary-color-2) !important;
    border: var(--primary-color-2) !important;
}

.btn__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 4px 3px 10px -1px rgba(191, 31, 0, 0.4);
}

.section-heading {
    color: var(--primary-color);
    font-size: 52px;
    font-weight: 700;
    line-height: 1.19;
}

.section-desc {
    margin-top: 24px;
    color: #656689;
    font-size: 1.6rem;
    line-height: 1.88;
}

/* header */
.header {
    background: #fffaf5;
    padding: 26px 0 8px;
    position: sticky;
    top: -18px;
    z-index: 2;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
}

.header-action__link,
.navbar__link {
    padding: 8px 18px;
    color: #5e6085;
    font-size: 1.4rem;
    line-height: 1;
    font-weight: 500;
}

.navbar__link:hover {
    text-shadow: 1px 0 0 currentColor;
    color: var(--primary-color);
}

.header-action__link:hover {
    text-decoration: underline;
}

.header-action__btn {
    --height: 50px;
    min-width: 118px;
}

/* hero */
.hero {
    margin-top: 92px;
    /* 100px trừ 8px ở padding-bottom phần header */
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 120px;
}

.hero__media {
    position: relative;
    display: flex;
    padding-bottom: 94px;
}

.hero__img-wrap {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 388px;
    height: 488px;
    border-radius: 16px;
    background: #fe997b;
    border: 3px solid #fff;
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
    /* kế thừa width và height của thẻ cha (.hero__img-wrap) */
}

.hero__decor {
    position: absolute;
    z-index: -1;
}

.hero__decor--left {
    bottom: 10px;
    left: -58px;
}

.hero__decor--right {
    top: 16px;
    right: -40px;
}

.hero__img-wrap--small {
    margin-left: -24px;
    margin-bottom: -58px;
    align-self: flex-end;
    width: 186px;
    height: 244px;
    border: 2px solid #f7dddf;
    background: #faa7ad;
}

.hero__list {
    padding: 18px 14px;
    position: absolute;
    bottom: 0;
    left: 129px;
    width: 250px;
    height: 156px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero-list-item {
    display: flex;
    align-items: center;
}

.hero-list-item__info {
    margin-left: 10px;
}

.hero-list-item__title {
    color: #181e52;
    font-size: 1.4rem;
    font-family: Sora sans-serif;
    font-weight: 600;
    line-height: 1;
}

.hero-list-item__thumb {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: #fec23f;
    object-fit: cover;
}

.hero-list-item__thumb--2 {
    background: #6597c2;
}

.hero_list__skeleton {
    margin-top: 6px;
    width: var(--width, 118px);
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
}

.hero__separate {
    margin: 22px 0;
    width: 100%;
    height: 2px;
    border-radius: 99px;
    background: #f2f2f2;
}

.hero__title {
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 76px;
}

.hero__desc {
    margin-top: 24px;
}

.hero__action {
    margin-top: 38px;
}

.hero__cta-btn {
    --height: 60px;
    min-width: 189px;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    font-size: 1.6rem;
}

.hero__link2 {
    margin-left: 24px;
    display: inline-block;
    color: #000958;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 16px;
    text-decoration-line: underline;
}

/* about */
.about {
    margin-top: 130px;
}

/* dùng css Grid */
.about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 78px;
    row-gap: 146px;
    align-items: center;
}

.about__label {
    color: #5e6085;
    font-size: 1.6rem;
    font-family: Sora;
    font-weight: 600;
    line-height: 1;
}

.about__heading {
    margin-top: 15px;
}

.about__desc {
    margin-top: 24px;
}

.about__heading,
.about__desc {
    width: 444px;
}

.about__checklist {
    margin-top: 54px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    gap: 36px;
}

.about__check-item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
}

.about__check-item::before {
    display: inline-block;
    content: "";
    height: 24px;
    width: 24px;
    background: #ff5d31;
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.7);
    border-radius: 4px;
}

.about__check-item::after {
    position: absolute;
    top: 2px;
    left: 4px;
    content: url(../icon/Vector.svg);
}

.about__media {
    position: relative;
}

.about__card {
    position: absolute;
    top: 165px;
    left: 0;
    padding: 31px 26px 29px;
    width: 136px;
    height: 156px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}

.about__card-title {
    color: #fff;
    text-align: center;
    font-size: 4.2rem;
    font-family: Sora;
    font-weight: 700;
    line-height: 1;
}

.about__card-desc {
    margin-top: 14px;
    color: #c6f4f9;
    text-align: center;
    font-size: 1.4rem;
    line-height: 20px;
}

.about__card-decor {
    position: absolute;
    top: -35px;
    right: -30px;
}

.about__img-wrap {
    margin-left: auto;
    position: relative;
    width: 494px;
}

.about__img-wrap::after {
    z-index: -1;
    position: absolute;
    content: "";
    height: 336px;
    inset: auto 0 0 0;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
}

.about__img {
    width: 450px;
    display: block;
    margin: 0 auto;
}

.about__img2 {
    z-index: -1;
    position: absolute;
    top: 160px;
    right: -40px;
}

.about__img-wrap--bottom::after {
    content: none;
}

.about__img-wrap--bottom {
    position: relative;
    margin-left: 0;
    width: 458px;
    height: 500px;
    border-radius: 18px;
    border: 2px solid #fff;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.about__img--bottom {
    width: 100%;
    /* ăn theo chiều rộng của thẻ cha 458px*/
}

.about__decor:nth-child(1) {
    position: absolute;
    top: 10px;
    right: 60px;
}

.about__decor:nth-child(2) {
    position: absolute;
    top: -20px;
    right: 10px;
}

.about__decor:nth-child(3) {
    position: absolute;
    top: 30px;
    right: -30px;
}

.about__decor:nth-child(4) {
    position: absolute;
    top: 260px;
    right: -30px;
}

.about__decor:nth-child(5) {
    position: absolute;
    top: 330px;
    right: 10px;
}

.about__decor:nth-child(6) {
    position: absolute;
    top: 430px;
    right: -40px;
}

.about__desc--2 {
    width: 511px;
    margin-bottom: 52px;
}

.tab__list {
    position: relative;
    display: inline-flex;
    align-items: center;
    column-gap: 56px;
}

.tab__item--active::after,
.tab__list::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    right: 0;
    height: 2px;
    background: #ff5b2e;
    border-radius: 1px;
    opacity: 0.07;
}

.tab__item--active::after {
    opacity: 1;
    width: 95px;
}

.tab__item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding-bottom: 10px;
    cursor: pointer;
}

.tab__title {
    color: #48496a;
    font-size: 1.8rem;
    font-family: Sora sans-serif;
    font-weight: 600;
    line-height: 1;
}

.tab__icon {
    width: 25px;
    height: 25px;
}

.tab__contents {
    padding-top: 36px;
}

.tab__contents-item {
    display: none;
}

.tab__contents-item--active {
    display: block;
}

.tab__contents-item__desc {
    width: 391px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 24px;
}

.tab__content-item__more {
    position: relative;
    display: inline-block;
    margin-top: 24px;
    color: #ff5d31;
}

.tab__content-item__more::after {
    position: absolute;
    content: "";
    bottom: -5px;
    left: -2px;
    width: 86px;
    height: 1.5px;
    background: #ff5d31;
    border-radius: 1px;
}

/* services  */
.services {
    margin-top: 185px;
    padding: 68px 0 100px;
    background: #fff6ed;
}

.questions {
    color: #5e6085;
    text-align: center;
    font-size: 1.6rem;
    font-family: Sora;
    font-weight: 600;
}

.services__heading {
    margin-top: 15px;
    text-align: center;
}

/* dùng Grid */
.services__body {
    margin-top: 70px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 65px;
}

.services-card {
    width: 294px;
    padding: 30px;
    background: #fff;
    margin-bottom: 24px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    transition: 0.3s;
}

.services-card:hover {
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
    transform: translateY(-10px);
}

.services-card:last-child {
    margin-bottom: 0;
}

.services-card__title {
    margin-left: 12px;
    position: relative;
    color: #000958;
    font-size: 2.2rem;
    font-family: Sora;
    font-weight: 600;
    line-height: 1;
}

.services-card__title::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 22px;
    top: 0;
    left: -12px;
    background: linear-gradient(63deg, #ff5b2e 0%, #ffa187 100%);
}

.services-card__desc {
    margin-top: 18px;
    width: 244px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 24px;
}

.services-card__action {
    margin-top: 24px;
    display: flex;
    align-items: center;
}

.services-card__link {
    display: inline-block;
    margin-right: 6px;
    color: #34396a;
    font-size: 1.2rem;
    font-family: Sora;
}

.services__img-wrap {
    margin-top: 18px;
    position: relative;
}

.services__img-wrap::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 16px;
    right: 16px;
    /* left = 0 và right = 0 ứng với width = 100% */
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 100%);
}

.services__img {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    transition: 0.3s;
}

.services__img-wrap:hover {
    transform: scale(1.1);
}

.services__cta-wrap {
    margin-top: 45px;
    text-align: center;
}

.btn-services {
    min-width: 214px;
    color: var(--primary-color-2);
    border-color: currentColor;
}

/* staff */
.staff {
    padding: 130px 0;
}

.staff__top {
    text-align: center;
}

.staff__heading {
    margin-top: 15px;
}

.staff__list {
    margin-top: 59px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
}

.staff-item__img-wrap {
    margin: 0 16px;
    position: relative;
    border-radius: 130px;
}

.staff-item__img-wrap::before {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 0;
    width: 100%;
    height: 94%;
    border-radius: inherit;
    transition: 0.3s;
}

.staff-item__img-wrap::after {
    content: "";
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: calc(100% + 36px);
    height: 100%;
    transform: translateX(-50%);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

.staff-item__img-wrap:hover {
    transform: translateY(-20px);
}

.staff-item__img {
    z-index: 1;
    display: block;
    width: 100%;
    border-radius: inherit;
}

.staff-item:nth-child(1) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}

.staff-item:nth-child(2) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}

.staff-item:nth-child(3) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}

.staff-item:nth-child(4) .staff-item__img-wrap::before {
    border-radius: 129.5px;
    background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}

.staff-item:nth-child(1) .staff-item__img-wrap::after {
    background-image: url(../img/staff__decor1.svg);
}

.staff-item:nth-child(2) .staff-item__img-wrap::after {
    background-image: url(../img/staff__decor2.svg);
}

.staff-item:nth-child(3) .staff-item__img-wrap::after {
    background-image: url(../img/staff__decor3.svg);
}

.staff-item:nth-child(4) .staff-item__img-wrap::after {
    background-image: url(../img/staff__decor4.svg);
}

.staff-item:nth-child(even) .staff-item__img-wrap::after {
    background-position: 0 16px;
    /* X là 0 & Y là 16 */
}

.staff-item__desc {
    margin-top: 29px;
    color: #656689;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
}

.staff-item__heading {
    margin-top: 14px;
    color: #000958;
    text-align: center;
    font-size: 2.2rem;
    font-family: Sora;
    font-weight: 600;
}

.staff__btn {
    text-align: center;
}

.staff__link {
    min-width: 193px;
    color: var(--primary-color-2);
    border-color: currentColor;
    margin: 48px auto 0;
}

/* pricing */
.pricing {
    padding: 86px 0;
    background: #fff6ed;
}

.pricing__container {
    width: 994px;
}

.pricing__heading,
.pricing__desc {
    text-align: center;
}

.pricing__desc {
    width: 709px;
    margin-left: auto;
    margin-right: auto;
}

.pricing__switch-wrap {
    display: flex;
    justify-content: center;
}

.pricing__switch-label {
    margin-top: 38px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    width: 276px;
    height: 56px;
    border-radius: 99px;
    border: 1px solid #ff5b2e99;
    user-select: none;
    cursor: pointer;
}

.pricing__switch-label::before {
    position: absolute;
    content: "";
    width: 140px;
    height: 56px;
    left: 0;
    border-radius: inherit;
    background: #ff5b2e;
    transition: ease 0.3s;
}

.pricing__switch-value {
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
}

.pricing__switch-input:checked + .pricing__switch-label::before {
    width: 131px;
    right: 0;
    left: auto;
}

.pricing__switch-input:checked
    + .pricing__switch-label
    .pricing__switch-value:nth-child(1) {
    color: var(--primary-color-2);
}

.pricing__switch-input:not(:checked)
    + .pricing__switch-label
    .pricing__switch-value:nth-of-type(2) {
    color: #ff5b2e;
}

.pricing__switch-inner {
    position: relative;
}

.pricing__sale-off {
    position: absolute;
    right: -108px;
    top: 25px;
}

/* dùng Grid */
.pricing__list {
    margin-top: 56px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 44px;
}

.pricing-item {
    background: #fff;
    border-radius: 20px;
    padding: 30px 28px 43px;
    transition: ease 0.3s;
}

.pricing-item:hover {
    transform: translateY(-20px);
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.pricing-item:nth-child(2) {
    box-shadow: 0px 20px 44px 0px rgba(195, 108, 22, 0.06);
}

.pricing-item__title {
    color: #ff5b2e;
    font-size: 1.2rem;
}

.pricing-item__days {
    margin-top: 8px;
    color: #3f4065;
    font-size: 1.8rem;
    font-family: Sora;
    font-weight: 600;
}

.pricing-item__money {
    margin-top: 24px;
    color: #000958;
    font-size: 3.3rem;
    font-family: Sora;
    font-weight: 700;
}

.pricing-item__link {
    --height: 44px;
    margin-top: 22px;
    width: 100%;
    border: 1px solid rgba(255, 91, 46, 0.6);
    color: #ff5b2e;
    background: transparent;
}

.pricing-item__link:hover {
    color: #fff;
    background: var(--primary-color-2);
}

.pricing-item__list {
    margin-top: 24px;
}

.list__item {
    margin-bottom: 18px;
    display: flex;
    align-items: center;
}

.list__item:last-child {
    margin-bottom: 0;
}

.list__icon {
    margin-right: 12px;
}

.list__title {
    color: #656689;
    font-size: 1.4rem;
}

/* reviews */
.review {
    padding: 130px 0 50px;
}

.review__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 44px;
}

.review__control {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 54px;
    height: 54px;
    border-radius: 999px;
    background: transparent;
    color: #ff5b2e;
    border: 1.5px solid #ffd1c4;
    transition: ease 0.3s;
}

.review__control:hover {
    background: #ff5b2e;
    border-color: #ff5b2e;
    color: #fff;
}

.review-item {
    display: flex;
    align-items: center;
    column-gap: 115px;
}

.review-item__images {
    flex-shrink: 0;
    position: relative;
    width: 274px;
    height: 350px;
    border-radius: 137px;
    background: #ffda54;
}

.review-item__img {
    position: absolute;
    bottom: 0;
    border-radius: 137px;
    width: 100%;
}

.review-item__quote {
    margin-top: 24px;
    width: 553px;
    color: #000;
    font-size: 1.8rem;
    line-height: 28px;
}

.review-item__author {
    margin-left: 30px;
    margin-top: 34px;
    position: relative;
}

.review-item__author::before {
    content: "";
    top: 45%;
    left: -30px;
    transform: translateY(-45%);
    position: absolute;
    width: 20px;
    height: 2px;
    background: #000;
    border-radius: 1px;
}

.review__dots {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    column-gap: 5px;
}

.review__dot {
    width: 8px;
    height: 8px;
    border-radius: 999px;
    border: 1px solid #ff5b2e;
}

.review__dot--active {
    width: 24px;
    background: #ff5b2e;
}

/* blog */
.blog {
    padding: 80px 0 130px;
}

.blog__row {
    display: flex;
    align-items: center;
    column-gap: 512px;
}

.blog__desc {
    color: #656689;
    font-size: 1.6rem;
    line-height: 30px;
    width: 350px;
}

.blog__btn {
    --height: 56px;
    margin-top: 24px;
    min-width: 182px;
    border-color: #ff5b2e;
    color: #ff5b2e;
}

.blog__list {
    margin-top: 54px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 48px;
}

.blog-item__block {
    position: relative;
    width: 358px;
    height: 362px;
    border-radius: 24px;
    background: #90ccff;
}

.blog-item__thumb {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 322px;
    height: 296px;
    object-fit: cover;
}

.blog-item__date {
    padding: 24px 36px;
    color: #fff;
    font-size: 1.4rem;
    font-family: Sora;
    line-height: 17px;
    font-weight: 400;
}

.blog-item__title {
    margin-top: 26px;
    color: #000958;
    font-size: 2.2rem;
    font-family: Sora;
    font-weight: 600;
    line-height: 34px;
}

.blog-item__desc {
    margin-top: 16px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 24px;
}

.blog-item:nth-child(2) .blog-item__block {
    background: #ff997e;
}

.blog-item:nth-child(3) .blog-item__block {
    background: #5bd6e2;
}

/* footer */
.footer__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 129px;
}

.footer-left {
    padding: 114px 0 148px;
    background: #fff6ed;
}

.footer-form {
    margin-top: 35px;
    display: flex;
    position: relative;
}

.footer-form__input {
    width: 268px;
    height: 46px;
    border-radius: 23px;
    border: 1px solid rgba(255, 91, 46, 0.25);
    background: #fff;
    color: #656689;
    font-size: 1.2rem;
    font-weight: 300;
    padding: 16px 22px;
}

.footer-form__btn {
    position: absolute;
    right: 252px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 46px;
    border-radius: 50%;
    background: #ff5b2e;
    border-color: #ff5b2e;
}

.footer-left__follow {
    margin-top: 68px;
}

.footer-left__group {
    margin-top: 16px;
    display: flex;
    column-gap: 16px;
}

.footer-left__item {
    width: 32px;
    height: 32px;
    background: #fff;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
}

